# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
.venv/
venv/
env/

# Cache / tests
.pytest_cache/
.coverage
htmlcov/

# Outils Python
.mypy_cache/
.ruff_cache/

# IDE
.vscode/
.idea/

# Système
.DS_Store
Thumbs.db